body 
{ background-color: #e6e6e6;
}

a {
  padding: 5px 0px;
  text-decoration: none;
  font-size:25px;
  color: #ffffff;
  background-color: blue; 
  margin: 10px 8px;
  display: flex;
  justify-content: center;
}

a:hover{
  color:#0c0c0c;
  text-decoration: none;
}